@charset "UTF-8";
@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format('opentype');
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(154, 230, 154);
    margin: 0px;
}

header {
    background-image: linear-gradient(rgb(45, 230, 116), rgb(18, 94, 49));
    color: white;
    height: 182px; 
}

header > h1 {
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.37);
    padding: 35px 35px 10px 35px;
    margin-top: 0px;
}

header > h2 {
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.37);
    font-size: 0.8em;
    
}

header > nav {
    text-shadow: 0.4px 0.4px 2px white;
    padding: 30px 0px 0px 25px; 
    margin: auto;
}

header > nav > a {
    color:whitesmoke;
    text-decoration: none;
    padding-right: 15px;
}

main {
    background:  white;
    width: 65%;
    margin: auto;
    word-spacing: 0.3em;
}

main > section > article > h1 {
    font-family: 'idroid', serif;
    font-size: 2.1em;
    padding: 35px 15px 5px 25px;
    margin: 0px;
}
main > section > article > h2 {
    font-family: 'idroid', serif;
    background-image: linear-gradient(to right, rgba(0, 128, 0, 0.384), white);
    padding: 0px;
    margin: 25px;
}

p{
    margin: 25px;
    text-indent: 30px;
    text-align: justify;
}

strong {
    color: rgb(8, 117, 50);
}

img {
    margin: 10px 10px 10px 12px;
}

img#irinablok {
    width: 95%;
    padding-left: 18px;
    margin: 0px;
    
}

@media (max-width: 1120px) {
    main {
        width: 80%;
    }
}

@media (max-width: 611px) {
    main {
        width: 100%;
    }

    header > h1 {
        font-size: 1.7em; 
        padding: 20px 10px 10px 10px;     
    }

    header > h2 {
        padding-left: 20px;
        padding-right: 20px;
    }

    img#irinablok {
        margin: auto;
    }
}